/*Variables en CSS*/
:root{
    --color: green;
    --color2: orange;
}
/*------------------------------------*/
body{
    /*background-color: bisque;*/
    background-color: var(--color);
}

header{
    background-color: chartreuse;
}

main{
    background-color: darkgoldenrod;
}

footer{
    /*background-color: blue;*/
    background-color: var(--color2);
}